body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .light {
    border-radius: 100%;
    position: relative;
    height: 80px;
    width: 80px;
    bottom: 3px;
    margin-bottom: 0.5rem;
  }
  .light::after {
    border: 6px solid rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    content: ' ';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 85px;
    height: 85px;
  }
  .light.red.selected {
    background-color: red;
    box-shadow: 0 0 20px red;
  }
  .light.yellow.selected {
    background-color: yellow;
    box-shadow: 0 0 20px yellow;
  }
  .light.green.selected {
    background-color: green;
    box-shadow: 0 0 20px green;
  }